Connected Services/webservice/WeSafeWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ExecProcedure">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SESSION_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ProcedureName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Parameter" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExecProcedureResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExecProcedureResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ExecProcedureSoapIn">
    <wsdl:part name="parameters" element="tns:ExecProcedure" />
  </wsdl:message>
  <wsdl:message name="ExecProcedureSoapOut">
    <wsdl:part name="parameters" element="tns:ExecProcedureResponse" />
  </wsdl:message>
  <wsdl:portType name="WeSafeWebServiceSoap">
    <wsdl:operation name="ExecProcedure">
      <wsdl:input message="tns:ExecProcedureSoapIn" />
      <wsdl:output message="tns:ExecProcedureSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WeSafeWebServiceSoap" type="tns:WeSafeWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ExecProcedure">
      <soap:operation soapAction="http://tempuri.org/ExecProcedure" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WeSafeWebServiceSoap12" type="tns:WeSafeWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ExecProcedure">
      <soap12:operation soapAction="http://tempuri.org/ExecProcedure" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WeSafeWebService">
    <wsdl:port name="WeSafeWebServiceSoap" binding="tns:WeSafeWebServiceSoap">
      <soap:address location="http://wesafe.pea.co.th/WebService/WeSafeWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WeSafeWebServiceSoap12" binding="tns:WeSafeWebServiceSoap12">
      <soap12:address location="http://wesafe.pea.co.th/WebService/WeSafeWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>